h1 {
  margin-left: 20px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
}
.nav li {
  float: left;
  list-style-type: none;
}
.responsive {
  width: 100%;
  height: auto;
  padding: 20px;
}
.container {
  background-color: lightblue;
  padding: 20px;
}
.col-8 {
  text-align: justify;
  padding: 40px;
}
body {
  font-family: "Raleway", sans-serif;
}
